body {
    font-family: Roboto, sans-serif;
    background-color: #fff;
    color: #434455
}

p, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin-top: 0;
    padding-left: 0;
    margin-bottom: 0;
}

img {
    display: block;
}

.container {
    width: 320px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
}

.section {
    padding-top: 96px;
    padding-bottom: 96px;
}

/* =======HEADER========== */

.header {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-navigation {
    display: flex;
    align-items: center;
}

.header-logo {
    color: #4d5ae5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding: 16px 0;
}

.accent {
    color: #2e2f42;
}

.header-list {
    display: none;
}

.header-item {}


.header-address-list {
    display: none;
}


.header-menu-button {
    width: 24px;
    height: 24px;
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    fill: #2F2F37;
}

.mob-menu {
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: fixed;
    padding: 72px 24px 40px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }

.close-menu-button {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #2E2F42
    }

.mob-navigation-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mob-navigation-link {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-navigation-link:hover,
.mob-navigation-link:focus,
.mob-navigation-link:active {
color: #404BBF;
}

.mob-current {
    color: #404BBF;
}

.mob-address {
font-style: normal;
margin-bottom: 48px;
}

.mob-address-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mob-address-link {
    color: #434455;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-address-link:hover,
.mob-address-link:focus,
.mob-address-link:active {
    color: #4D5AE5;
}

.mob-soc-list {
display: flex;
gap: 40px;
}
/* ================================ */


/* =========HERO=========== */

.hero {
    background-color: #2E2F42;
    padding-top: 72px;
    padding-bottom: 72px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-mob-bg.jpg);
    max-width: 320px;
    margin: 0 auto;
}

@media screen and (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-mob-bg-2x.jpg);
  }
}

.hero-title {
    color: #FFF;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    max-width: 216px;
    margin: 0 auto;
    margin-bottom: 72px;
}

.hero-button {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    font-family: Roboto, sans-serif;
    cursor: pointer;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
}

/* ================================ */




/* =========ABOUT============== */

.about {}

.about-title {}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.about-list {
    display: flex;
    gap: 72px;
    flex-wrap: wrap;
}

.about-list-item {
    border-radius: 0px 0px 4px 4px;
}

.about-item-container{
    width: 100%;
    border-radius: 4px;
    background: #F4F4FD;
    border: 1px solid #8E8F99;
    padding: 24px ;
    margin-bottom: 8px;
    justify-content: center;
    align-items: center;
    height: 112px;
    display: none;
}

.about-item-icon{}

.about-subtitle {
    color: #2E2F42;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    font-size: 36px;
    margin-bottom: 8px;
}

.about-text {
    color: #434455;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;

}

/* ================================ */



/* ==========MEMBERS============ */

.members > .container {
    width: 294px;
}

.members {
    background-color: #F4F4FD;
}

.members-title {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}

.members-list {
    display: flex;
    gap: 72px;
    flex-wrap: wrap;
}

.members-list-item {
    background-color: #FFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.members-img {
}

.members-card {
    padding: 32px 0;
}

.members-subtitle {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.members-text {
    color: #434455;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.members-soc-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    
}

.members-soc-item {
width: 40px;
    height: 40px;
}

.members-soc-link:hover,
.members-soc-link:focus {
    background-color: #404BBF;
}

.members-soc-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    flex-shrink: 0;
    
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #4D5AE5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.members-soc-icon {
    fill: #F4F4FD;
}


/* ================================ */




/* ======PORTFOLIO============= */

.portfolio {
}

.portfolio-title {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    gap: 48px;
    flex-wrap: wrap;
}

.portfolio-list-item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-list-item:hover .portfolio-cover-text {
    transform: translateY(0%);
}

.portfolio-cover-wrap{
    position: relative;
    overflow: hidden;
}

.portfolio-img {
}

.portfolio-cover-text{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    background-color: #4D5AE5;
    position: absolute;
    top: 0;
    height: 100%;
    transform: translateY(100%);
    padding: 40px 32px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-subtitle {
    color: #2E2F42;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-size: 20px;
    margin-bottom: 8px;
}

.portfolio-text {
    color: #434455;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-size: 16px;
}

/* =============================== */




/* ============FOOTER=========== */

.footer {
    background-color: #2E2F42;
    padding: 96px 0;
}

.footer-container {
}

.footer-style-container {
}

.footer-logo {
    color: #4D5AE5;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-family: Raleway, sans-serif;
    display: block;
    margin-bottom: 16px;
    text-align: center;
}

.footer-accent {
    color: #F4F4FD;
}

.footer-text {
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 288px;
    margin-bottom: 72px;
}

.footer-title {
    color: #FFF;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-size: 16px;
    margin-bottom: 16px;
    text-align: center;
}

.footer-soc-list {
    display: flex;
    gap: 16px;
    justify-content: space-between;
    width: 208px;
    margin: 0 auto;
    margin-bottom: 72px;
}

.footer-soc-item {
    width: 40px;
    height: 40px;
}

.footer-soc-link:hover,
.footer-soc-link:focus {
    background-color: #31D0AA;
}

.footer-soc-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    flex-shrink: 0;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #4D5AE5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-form {
margin: 0 auto;
}


.form-email {
    border: 1px solid #fff;
    width: 288px;
    height: 40px;
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    font-size: 12px;
    color: #fff;
    line-height: 2;
    letter-spacing: 0.04em;
    margin-bottom: 16px;
}

.form-email::placeholder {
    font-size: 12px;
    letter-spacing: 0.04em;
    color: #fff;
    line-height: 2;
}

.footer-button {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    background-color: #4D5AE5;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto;
}

.footer-button:hover,
.footer-button:focus {
    background-color: #404BBF;
}

.button-icon {
    fill: #fff;
    margin-left: 16px;
}


/* ================================ */



/* ========MODAL====== */

.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    width: 288px;
    min-height: 623px;
    border-radius: 4px;
    background-color: #FCFCFC;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 72px 16px 24px 16px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
    position: absolute;
    top: 24px;
    right: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    height: 24px;
    width: 24px;
    background-color: #E7E9FC;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon {
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus,
.modal-close:active {
    background-color: #404BBF;
    border: none;
}

.modal-close:hover .close-icon,
.modal-close:focus .close-icon,
.modal-close:active .close-icon {
    fill: #fff
}

.modal-title {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    font-size: 16px;
    color: #2E2F42;
    margin-bottom: 16px;
}

.modal-field {
    margin-bottom: 8px;
}

.form-label {
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    font-size: 12px;
    color: #8E8F99;
    display: block;
    margin-bottom: 4px;
}

.modal-input {
    position: relative;
}

.form-text {
    display: block;
    border: 1px solid rgba(46, 47, 66, 0.4);
    width: 100%;
    height: 40px;
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field-area {
    margin-bottom: 16px;
}

.form-textarea {
    display: block;
    border: 1px solid rgba(46, 47, 66, 0.4);
    width: 100%;
    height: 120px;
    border-radius: 4px;
    padding: 8px 16px;
    resize: none;
    font-size: 12px;
    color: rgba(46, 47, 66, 0.4);
    line-height: 1.17;
    letter-spacing: 0.04em;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea::placeholder {
    font-size: 12px;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    line-height: 1.17;
}

.form-text:focus,
.form-textarea:focus {
border-color: #4D5AE5;
}

.form-text:focus + .form-icon {
    fill: #4D5AE5;
}

.modal-checkbox {
    margin-bottom: 24px;
}

.form-agreement {
    font-size: 12px;
    letter-spacing: 0.04em;
    color: #8E8F99;
    line-height: 1.17;
}

.agreement-label {
    letter-spacing: 0.04em;
    font-size: 12px;
    color: #8E8F99;
    line-height: 1.17;
}

.agreement-label-span {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-agreement:checked + .agreement-label span {
    background-color: #404BBF;
    fill: #F4F4FD;
    border: none;
}

.agreement-link {
    line-height: 133%;
    color: #4D5AE5;
    text-decoration: underline;
}

.form-button {
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4D5AE5;
    border: none;
    margin: 0 auto;
    display: block;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:hover,
.form-button:focus {
    background-color: #404BBF;
}


@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }

  .header-container {
   gap: 120px;
  }

  .header-logo {
    margin-right: 120px;
    padding: 0;
  }

  .header-list {
      display: flex;
      gap: 40px;
  }

  .header-link {
      position: relative;
      color: #2E2F42;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.5;
      letter-spacing: 0.02em;
      padding: 24px 0;
      display: block;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .current {
      color: #404bbf;
  }

  .current::after {
      position: absolute;
      left: 0;
      bottom: -1px;
      content: '';
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: #404BBF;
  }

  .header-link:hover,
  .header-link:focus {
      color: #404BBF;
  }

  .header-address {
      font-style: normal;
      display: block;
  }

  

  .header-address-list {
      display: flex;
      flex-direction: column;
      gap: 12px;
  }

  .header-address-link {
      font-size: 12px;
      line-height: 1.17;
      letter-spacing: 0.04em;
      color: #434455;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      font-weight: 400;
  }

  .header-address-link:hover,
  .header-address-link:focus {
      color: #404BBF;
  }

  .header-menu-button {
display: none;
  }

    .hero {
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-tab-bg.jpg);
    max-width: 768px;
        }

                @media screen and (min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                    .hero {
                        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-tab-bg-2x.jpg);
                    }
                }

    .hero-title {
      font-size: 56px;
      line-height: 1.07;
      max-width: 496px;
      margin-bottom: 36px;
        }

  .about-list {
    gap: 72px 24px;
  }

  .about-list-item {
    max-width: calc((100% - 24px) / 2);
  }

  .members > .container, .footer > .container {
      width: 582px;
  }

  .members-list {
      gap: 64px 24px;
  }

  .members-list-item {
      max-width: calc((100% - 24px) / 2);
  }

  .portfolio-list {
      gap: 72px 24px;
  }

  .portfolio-list-item {
      width: calc((100% - 24px) / 2);
  }

  .portfolio-img {
      width: 356px;
  }

  .footer-container {
      display: flex;
      align-items: baseline;
      flex-wrap: wrap;
      gap: 72px 24px;
  }

  .footer-text {
      width: 264px;
      margin: 0;
  }

  .footer-title, .footer-logo {
    text-align: start;
  }

  .footer-soc-list {
margin: 0;
  }

  .footer-form {
      display: flex;
      gap: 24px;
      align-items: flex-end;
  }

  .form-email {
      width: 264px;
      margin-bottom: 0;
  }

  .footer-button {
    margin: 0;
  }

  .modal {
      width: 408px;
      min-height: 584px;
      padding: 72px 24px 24px 24px;
  }
}













@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .header-logo {
      margin-right: 76px;
      
  }

  .header-address-list {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 40px;
  }

  .header-address-link {
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
  }

  .hero {
      padding-top: 188px;
      padding-bottom: 188px;
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg.jpg);
      max-width: 1440px;
  }

  @media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
      .hero {
          background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-2x.jpg);
      }
  }

  .hero-title {
      margin-bottom: 48px;
  }

  .about-list {
      display: flex;
      gap: 24px;
      flex-wrap: nowrap;
  }

  .about-list-item {
      max-width: calc((100% - 72px) / 4);
  }

  .about-item-container {
      display: flex;
  }

  .about-subtitle {
      font-weight: 500;
      line-height: 1.2;
      font-size: 20px;
  }

  .about-text {
      font-weight: 400;
  }

  .members>.container, .footer>.container {
      width: 1158px;
  }

  .members-list {
      gap: 24px;
      flex-wrap: nowrap;
  }

  .members-list-item {
      max-width: calc((100% - 72px) / 4);
  }

  .portfolio-list {
    gap: 48px 24px;
  }

  .portfolio-list-item {
      width: calc((100% - 48px) / 3);
  }

  .portfolio-img {
    width: 360px;
  }

  .footer {
      padding: 100px 0;
  }

  .footer-container {
      flex-wrap: nowrap;
      gap: 0;
  }

  .footer-style-container {
      margin-right: 120px;
  }

  
  
}